@import url("normalize.css");

/* Basic */
@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  color: #263238;
}

body {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

@media screen and (max-width: 560px) {
  html,
  body {
    min-width: 320px;
  }
}

@media screen and (max-width: 1680px) {
  body {
    padding: 6em 3.5em 3.5em 3.5em;
  }
}

@media screen and (max-width: 736px) {
  body {
    padding: 5em 2em 2em 2em;
  }
}

@media screen and (max-width: 400px) {
  body {
    padding: 5em 1.25em 1.25em 1.25em;
  }
}

@media screen and (max-height: 540px) {
  html,
  body {
    height: auto;
    min-height: 100%;
  }
}

/* Main */

#header h1 {
  font-family: "Poiret One", cursive;
  font-size: 4em;
  color: #263238;
  margin: 0;
}

#header p {
  font-size: 2em;
  color: #263238;
}

#message {
  min-height: 2.4em;
}

@media screen and (min-width: 640px) {
  #bg {
    position: absolute;
    top: 0;
    left: 640px;
    width: calc(100% - 640px);
    height: 100%;
    background-color: #263238;
  }
}

@media screen and (min-width: 560px) {
  #charlie {
    width: 180px;
    margin-left: 300px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 560px) {
  #header {
    margin: 0 0 1em 0;
  }

  #header h1 {
    font-size: 3em;
  }

  #header p {
    font-size: 1.5em;
  }

  #charlie {
    width: 150px;
    float: right;
    margin-right: 40px;
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 400px) {
  #header h1 {
    font-size: 2.4em;
  }

  #header p {
    font-size: 1.2em;
  }

  #charlie {
    width: 120px;
    float: right;
    margin-right: 20px;
    margin-bottom: 50px;
  }
}

@media screen and (max-height: 540px) {
  #header {
    float: left;
    width: 280px;
  }

  #header h1 {
    font-size: 2em;
  }

  #header p {
    font-size: 1em;
  }

  #charlie {
    float: right;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

/* Footer */

#footer {
  position: absolute;
}

#footer .icons {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#footer li {
  display: inline;
  margin-right: 0.8em;
  opacity: 0.6;
}

#footer li.icon:hover {
  opacity: 1;
}

#footer .icon a {
  display: inline;
  color: inherit;
}

#footer .copyright {
  font-size: 0.9em;
  list-style: none;
  padding: 0;
}

#footer .copyright li {
  line-height: 1em;
  margin: 0 0 0 0.75em;
  padding: 0 0 0 0.75em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1680px) {
  #footer {
    bottom: 3.5em;
    left: 3.5em;
  }
}

@media screen and (max-width: 736px) {
  #footer {
    bottom: 2em;
    left: 2em;
  }
}

@media screen and (max-width: 400px) {
  #footer {
    bottom: 1.25em;
    left: 1.25em;
  }
}
