/*
color scheme
https://nipponcolors.com/
*/

$gofun: #fffffb;
$kurotsurubami: #0b1013;
$keshizumi: #434343;

$white: $gofun;
$black: $kurotsurubami;
$gray: $keshizumi;

/*
responsive mixins
https://itnext.io/writing-media-queries-with-sass-mixins-3ea591ea3ea4
*/

$bp-xs-sm: 600px;
$bp-sm-md: 900px;
$bp-md-lg: 1200px;
$bp-lg-xl: 1800px;

@mixin for-phone-only {
  @media (max-width: $bp-xs-sm - 1px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $bp-xs-sm) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $bp-sm-md) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: $bp-md-lg) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: $bp-lg-xl) {
    @content;
  }
}

/* flex box mixins */

@mixin flex {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

@mixin flex-direction($property) {
  -moz-flex-direction: $property;
  -webkit-flex-direction: $property;
  -ms-flex-direction: $property;
  flex-direction: $property;
}

@mixin justify-content($property) {
  -moz-justify-content: $property;
  -webkit-justify-content: $property;
  -ms-justify-content: $property;
  justify-content: $property;
}

@mixin align-items($property) {
  -moz-align-items: $property;
  -webkit-align-items: $property;
  -ms-align-items: $property;
  align-items: $property;
}

/*
box sizing configuration
https://css-tricks.com/box-sizing/
*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* overall */

html {
  color: $black;
  background-color: $white;
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
}

body {
  @include flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  @include for-phone-only {
    padding: 0 24px 0 24px;
  }
  @include for-tablet-portrait-up {
    padding: 0 32px 0 32px;
  }
  min-height: 100vh;
}

p {
  line-height: 1.5;
}

/* header */

header {
  @include flex;
  @include align-items(baseline);
  @include for-phone-only {
    padding: 16px 0 16px 0;
  }
  @include for-tablet-portrait-up {
    padding: 24px 0 24px 0;
  }
}

header a {
  -webkit-tap-highlight-color: transparent;
}

#logo {
  color: $black;
  font-size: 1.5em;
  text-decoration: none;
}

/* content */

#content {
  @include flex;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

/* footer */

footer {
  @include flex;
  @include justify-content(center);
}
