/* Constants */
$bp-xs-sm: 600px;
$bp-sm-md: 900px;
$bp-md-lg: 1200px;
$bp-lg-xl: 1800px;
$primary-color: #263238;

/* Responsive Breakpoints */
@mixin for-phone-portrait-only {
  @media (max-width: $bp-xs-sm - 1px) and (orientation: portrait) {
    @content;
  }
}

@mixin for-phone-landscape-only {
  @media (max-height: $bp-xs-sm - 1px) and (orientation: landscape) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $bp-xs-sm) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $bp-sm-md) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: $bp-md-lg) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: $bp-lg-xl) {
    @content;
  }
}

/* Flex Box */
@mixin flex {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

@mixin flex-direction($property) {
  -moz-flex-direction: $property;
  -webkit-flex-direction: $property;
  -ms-flex-direction: $property;
  flex-direction: $property;
}

@mixin justify-content($property) {
  -moz-justify-content: $property;
  -webkit-justify-content: $property;
  -ms-justify-content: $property;
  justify-content: $property;
}

@mixin align-items($property) {
  -moz-align-items: $property;
  -webkit-align-items: $property;
  -ms-align-items: $property;
  align-items: $property;
}

/* Base */
@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  color: $primary-color;
  background-color: $primary-color;
}

body {
  @include flex;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

/* Main */
#container {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  @include for-phone-portrait-only {
    width: 100%;
    min-width: 320px;
    padding: 1em 1.25em 1.25em 1.25em;
  }
  @include for-phone-landscape-only {
    width: 100%;
    padding: 1em 1.25em 1em 1.25em;
  }
  @include for-tablet-portrait-up {
    width: $bp-xs-sm;
    padding: 1em 2em 1em 2em;
  }
  @include for-tablet-landscape-up {
    width: $bp-sm-md;
  }
  @include for-desktop-up {
    width: $bp-md-lg;
  }
}

#header h1 {
  margin: 0em;
  font-weight: 400;
  @include for-phone-portrait-only {
    font-size: 1.6em;
  }
  @include for-phone-landscape-only {
    font-size: 1.6em;
  }
  @include for-tablet-portrait-up {
    font-size: 1.8em;
  }
  @include for-desktop-up {
    font-size: 2em;
  }
}

/* Footer */
footer .icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline;
  margin-right: 0.8em;
  opacity: 0.6;
}

footer li.icon:hover {
  opacity: 1;
}

footer .icon a {
  display: inline;
  color: inherit;
}

footer .copyright {
  font-size: 0.9em;
  list-style: none;
  padding: 0;
}

footer .copyright li {
  line-height: 1em;
  margin: 0 0 0 0.75em;
  padding: 0 0 0 0.75em;
}

footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

footer > :last-child {
  margin-bottom: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: inherit;
}
