/*
color scheme
https://nipponcolors.com/
*/

$gofun: #fffffb;
$kurotsurubami: #0b1013;
$keshizumi: #434343;

$white: $gofun;
$black: $kurotsurubami;
$gray: $keshizumi;

/*
responsive mixins
https://itnext.io/writing-media-queries-with-sass-mixins-3ea591ea3ea4
*/

$bp-xs-sm: 600px;
$bp-sm-md: 900px;
$bp-md-lg: 1200px;
$bp-lg-xl: 1800px;

@mixin for-phone-only {
  @media (max-width: $bp-xs-sm - 1px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $bp-xs-sm) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $bp-sm-md) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: $bp-md-lg) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: $bp-lg-xl) {
    @content;
  }
}

/* flex box mixins */

@mixin flex {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

@mixin flex-direction($property) {
  -moz-flex-direction: $property;
  -webkit-flex-direction: $property;
  -ms-flex-direction: $property;
  flex-direction: $property;
}

@mixin justify-content($property) {
  -moz-justify-content: $property;
  -webkit-justify-content: $property;
  -ms-justify-content: $property;
  justify-content: $property;
}

@mixin align-items($property) {
  -moz-align-items: $property;
  -webkit-align-items: $property;
  -ms-align-items: $property;
  align-items: $property;
}

/*
box sizing configuration
https://css-tricks.com/box-sizing/
*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* screen reader only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* overall */

html {
  color: $black;
  background-color: $white;
  font-family: "Noto Sans JP", sans-serif;
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

/* background */
#background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -999;
  background-image: url("../img/background.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#background-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -998;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEklEQVQYV2NkYGBoAGFGBigAAAwtAQO5pJ3QAAAAAElFTkSuQmCC");
  background-repeat: repeat;
  background-size: auto;
}

/* main */
#main {
  @include flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(space-between);
  min-height: 100vh;
  padding: 0 16px 0 16px;
}

/* header */

header {
  @include flex;
  @include align-items(baseline);
}

header a {
  -webkit-tap-highlight-color: transparent;
}

#logo {
  color: $black;
  font-size: 1.6em;
  line-height: 2.4em;
  text-decoration: none;
}

#menu-toggle {
  display: inline-block;
  padding: 0.75em 16px 0.75em 0;
  line-height: 1em;
  font-size: 1em;
  color: $black;
  box-shadow: none;
}

#menu-toggle:hover,
#menu-toggle:focus {
  color: $gray;
}

#menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: hidden;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* hide shadow while closed */
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

#menu a {
  display: block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: $white;
  text-decoration: none;
}

#menu li {
  border-bottom: 1px solid $gray;
}

#menu li:first-child a {
  border-top: 1px solid $gray;
}

#menu ul a:hover,
#menu ul a:focus {
  background: $gray;
}

#menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

#menu:target,
#menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

#menu:target #menu-close,
#menu[aria-expanded="true"] #menu-close {
  z-index: 1001;
}

#menu:target ul,
#menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

#menu:target + #backdrop,
#menu[aria-expanded="true"] + #backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: $gray;
  background: rgba(0, 0, 0, 0.8);
  cursor: default;
}

@supports (position: fixed) {
  #menu,
  #menu:target + #backdrop,
  #menu[aria-expanded="true"] + #backdrop {
    position: fixed;
  }
}

@include for-tablet-portrait-up {
  header {
    @include justify-content(space-between);
  }

  #menu-toggle,
  #menu,
  #menu #menu-close {
    display: none;
  }

  #menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
  }

  #menu ul {
    display: flex;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }

  #menu a {
    color: $black;
  }

  #menu li {
    border-bottom: none;
    margin-left: 2px;
  }

  #menu li:first-child a {
    border-top: none;
    margin-left: 0;
  }

  #menu ul a:hover,
  #menu ul a:focus {
    background: $gray;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.1em;
  }
}

/* content */

#content {
  @include flex;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

table {
  border-collapse: collapse;
}

table,
td {
  border: 1px solid $gray;
  padding: 16px;
}

table td:first-child {
  font-weight: bold;
}
